@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
  font-family: 'VT323', monospace;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slideInLeft {
  from { opacity: 0; transform: translateX(-50px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes slideInRight {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.fade-in-up {
  animation: fadeInUp 1s ease-in-out;
}

.slide-in-left {
  animation: slideInLeft 0.5s ease-in-out;
}

.slide-in-right {
  animation: slideInRight 0.5s ease-in-out;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.popup-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: -1;
}

.Cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 1000;
}

.Cursor span {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  background-color: #00ff00; /* Green */
  transform-origin: center center;
  transform: translate(-50%, -50%);
}
